#navbar {
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  padding: 1em;
  overflow: hidden;
}

.nav-link {
  color: grey;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  margin: 2em 0 1em 0.5em;
}

.nav-link:hover {
  color: white;
  transition: color 200ms ease-in-out;
}

.left-icon {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.playlist-scroller {
  font-size: small;
}

.line-separation {
  border: 0;
  height: 1px;
  background: #333;
}

.modal {
  background-color: #121212;
  color: white;
}
