<div
  class="col push-s4 s4"
  style="padding-top: 1em; background-color: #121212; padding: 2em;"
  *ngIf="!this.submitted; else elseBlock"
>
  <form #f="ngForm" class="" (ngSubmit)="submit(f)" (keydown.enter)="submit(f)">
    <div class="row">
      <div class="input-field">
        <input
          style="color: white;"
          #funame="ngModel"
          id="icon_prefix"
          [(ngModel)]="name"
          type="text"
          class="validate"
          name="username"
          minlength="4"
          [ngClass]="{ invalid: funame.dirty && funame.invalid }"
        />
        <label for="icon_prefix">Title</label>
      </div>
      <div *ngIf="funame.dirty && funame.invalid"></div>
    </div>
    <button
      class="btn waves-effect waves-light green"
      type="submit"
      name="action"
      style="float: right;"
      [disabled]="f.invalid"
    >
      create
      <i class="material-icons right">check</i>
    </button>
  </form>
</div>

<ng-template #elseBlock>
  <div style="text-align: center;">
    <p>The playlist {{ playlist.name }} have been added !</p>
  </div>
</ng-template>
