<div class="col push-s4 s4" style="padding-top: 1em;">
  <form #f="ngForm" class="" (ngSubmit)="submit(f)" (keydown.enter)="submit(f)">
    <div class="row">
      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <input
          style="color: white;"
          #funame="ngModel"
          id="icon_prefix"
          [(ngModel)]="name"
          type="text"
          class="validate"
          name="username"
          minlength="4"
          [ngClass]="{ invalid: funame.dirty && funame.invalid }"
        />
        <label for="icon_prefix">Username</label>
      </div>
      <div *ngIf="funame.dirty && funame.invalid"></div>
    </div>
    <button
      class="btn waves-effect waves-light green"
      type="submit"
      name="action"
      style="float: right;"
      [disabled]="f.invalid"
    >
      Log in
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
